.top {
  z-index: 1;
  font-family: "Merriweather", serif;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}

.topIcon,
.topSearchIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
