.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
  padding: 3px;
  border: 2px solid;
  border-radius: 10px;
}

.settingsDeleteTitle:hover {
  color: white;
  background-color: red;
  border-color: red;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profilePicture {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsForm > input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.settingsSubmit:hover {
  background-color: cadetblue;
}
