.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Moon Dance", cursive;
  color: #444;
}

.headerTitleSm {
  z-index: 0;
  position: absolute;
  top: 18%;
  font-size: 23px;
}

.headerTitleLg {
  z-index: 0;
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  object-fit: cover;
}
